{% extends "newdata/newdata_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load pagination_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %} Moth {% endblock %}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



{% block body_outer %}
    {% include "newdata/newdata_ol3_map.html" %}

    <script>
        var geojsonFormat = new ol.format.GeoJSON();
        function filter_location(location) {
            $.ajax({
                type: "POST",
                url: location+'/',
                dataType: 'json',
                success: function (response) {

                        new_lon = response.features[1].properties['lon'];
                        new_lat = response.features[1].properties['lat'];

                        var features = geojsonFormat.readFeatures(response,
                            {featureProjection:"EPSG:3857"});



                        layersource = waypoints_layer.getSource()
                        layersource.forEachFeature(function(feature){
                           layersource.removeFeature(feature)
                        });

                        layersource.set('url', this.url);

                        waypoints_layer= new ol.layer.Vector({
                            source: new ol.source.Vector({
                                url: this.url,
                                format: new ol.format.GeoJSON({
                                projection: 'EPSG:3857'
                                }),
                        name: 'waypoints_layer_updated'
                            })
                        });

                        map.addLayer(waypoints_layer);

                       div = document.getElementById('waypoints');
                       div.innerHTML = '';
                       for (i = 0; i < features.length; i++) {
                           var newdiv = document.createElement('div');
                           div.appendChild(newdiv);
                           newdiv.innerHTML = '<button class="btn btn-default btn-block">' + response.features[i].properties['waypoint_name'] + '</button>'

                       }


                }
            });
        }
    </script>


<div class="container-fluid">
    <hr class="">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="">Locations</h3>
                </div>
                 {% for loc in mothloc %}
                    <div>
                        <button onclick="filter_location('{{ loc }}');" class="btn btn-default btn-block">{{ loc }}  </button>
                    </div>
                 {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="">Map</h3>
                </div>

                <div id="embedded_map" class="mrg-btm">
                    <div id="preview_map"></div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="">Waypoints</h3>
                </div>

                <div id="waypoints">
                </div>

            </div>
        </div>
    </div>
</div>



<div class="row">

    <div class="col-md-8">
        <!--<div class="col-8">
            <div id="map">
                <script type="text/javascript">

                    function main_map_init(map, options) {
                        var geojsonPointLayer = new L.GeoJSON.AJAX("{% url 'mothgeojson' %}", {
                            onEachFeature:function(feature, layer) {
                                layer.bindPopup(feature.properties.name.toString()+'<br><img src="'
                                 + feature.properties.photo + '" /><br><a href="'+ feature.properties.institutional_link+'">Institution Link</a>'+
                                '<br><a href='+ feature.properties.social_link.toString()+'>Social Link</a>');
                            }
                        });
                        map.setView([63.43, 10.395], 5)
                        geojsonPointLayer.addTo(map)
                    }
                </script>
            </div>
        </div>-->


        <div id="embedded_map" class="mrg-btm">
          <div id="preview_map"></div>
        </div>
    </div>
</div>



<!--
alert(this.url);
alert(response.features[1].properties['waypoint_name']);

 alert(features);
            layersource.setProperties({url: this.url});
           layersource.clear()

        layersource = waypoints_layer.getSource()
                        layersource.forEachFeature(function(feature){
                           layersource.removeFeature(feature)
                        });
                        waypoints_layer.getSource(response);
                        waypoints_layer.source.dispatchEvent('change');

        var myVar1=data.features[0].properties['avgtemp1'];
        document.getElementById("v1").innerHTML = myVar1;


    <script>
        function filter_location(location) {
            $.get(location+'/', function (data) {
                alert("waypoints filtered!");
                alert(response.content);
            });
        }
    </script>
-->

{% endblock %}