{% extends "metadata/metadata_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} "Explore Newdata" - {{ block.super }} {% endblock %}

{% block body_class %}newdata explore{% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url "layer_upload" %}" class="btn btn-primary pull-right">Add Data Collection</a>
  <h2 class="page-title">Explore Data Collections</h2>
</div>


<div>
    <ul>
        {% for datatype in datatypes %}
            {{ datatype.type_name }}
             <li><a href="{% url 'datatypesdetail' datatype.id %}">{{ datatype.type_name }}</a></li>
        {%  endfor %}
    </ul>
</div>

<div class="row" ng-controller="CartList">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">


        <div class="row">
              <div class="col-md-12 grid-spacer">

                    <dl>
                        {% for datatype in datatypes %}
                            <div class="col-lg-12 item-container">

                                <div class="col-lg-12 profile-avatar">
                                    {{ datatype.type_name }}
                                     <dt><a href="{% url 'datatypesdetail' datatype.id %}">{{ datatype.type_name }}</a></dt>


                                    <div class="col-lg-8 item-details">

                                            <div class="col-xs-10">
                                                <div class="row">
                                                    <div class="col-lg-12 item-items">
                                                      <ul class="list-inline">

                                                        <li><a href="/people/profile/{{ item.owner__username }}"><i class="fa fa-user"></i>{{ item.owner_name }}</a></li>
                                                        <li><a href="{{ item.detail_url }}#info"><i class="fa fa-calendar-o"></i>{{ item.date|date:'d MMM y' }}</a></li>
                                                        <li><a href="{{ item.detail_url }}"><i class="fa fa-eye"></i>{{ item.popular_count }}</a></li>
                                                        <li><a href="{{ item.detail_url }}#share"><i class="fa fa-share"></i>{{ item.share_count }}</a></li>
                                                        <li><a href="{{ item.detail_url }}#rate"><i class="fa fa-star"></i>{{ item.rating }}</a></li>
                                                        <li><a ng-if="item.detail_url.indexOf('/layers/') > -1" href="{% url "new_map" %}?layer={{ item.detail_url }}">

                                                          <i class="fa fa-map-marker"></i>{% trans "Create a Map" %}</a>

                                                        </li>
                                                        <li><a ng-if="item.detail_url.indexOf('/maps/') > -1" href="/maps/{{item.id}}/view"><i class="fa fa-map-marker"></i>View Map</a></li>
                                                      </ul>
                                                    </div>
                                                  </div>

                                            </div>
                                            <div class="col-xs-2">

                                            </div>

                                    </div>

                                </div>

                            </div>
                        {%  endfor %}
                    </dl>

              </div>
        </div>
    </div>

</div>
{% endblock %}



