coat_geonode.egg-info/
*.pyc
.vagrant
ubuntu-xenial-16.04-cloudimg-console.log
coat_geonode/local_settings.py
coat_geonode/Scripts/Coordinates.txt
geonode/*
.idea/*
geonode
geonode_bckp
local_settings.py