{% extends "base.html" %}

{% block extra_tab %}
    <li id="nav_metadata">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Metadata" %}<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "layer_browse" %}">{% trans "Layers" %}</a></li>
                <li><a href="{% url "document_browse" %}">{% trans "Documents" %}</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url "services" %}">{% trans "Remote Services" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "layer_upload" %}">Upload Layer</a></li>
                <li><a href="{% url "document_upload" %}">Upload Document</a></li>
                <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
                {% endif %}
              </ul>
            </li>
{% endblock %}